#jinja2:lstrip_blocks: True
{% for host in groups.get('backup', []) %}
  {% for profile, conf in hostvars[host].get('borgbackup_profiles', {}).items() %}
from="{{ hostvars[host]['borgbackup_ip'] }}",command="borg serve --restrict-to-repository ~/repositories/{{ host }}-{{ profile }}",restrict {{ lookup('file', 'borgbackup/id_rsa-backup-' + host + '-' + profile + '.pub') }}
  {% endfor %}
{% endfor %}
