#jinja2:lstrip_blocks: True
#!/bin/bash
{% set repo_user = item.value.user | default(borgbackup_repo_user) %}
{% set repo_host = item.value.host | default(borgbackup_repo_host) %}
{% set repo_port = item.value.port | default(borgbackup_repo_port) %}
{% set conf = borgbackup_default_profile | combine(item.value) %}
{% set name = item.key %}
export BORG_REPO="{{ repo_user }}@{{ repo_host }}:~/repositories/{{ inventory_hostname }}-{{ name }}"
export BORG_PASSPHRASE="$(cat "$(dirname $0)/{{ name }}.key")"
export BORG_RSH="ssh -i ~/.ssh/id_rsa-backup-{{ name }} -p {{ repo_port }}"

if [ "${1}" == "shell" ]; then
  export PS1="borg[$(hostname -s)::{{ name }}] $ "
  echo "Entering shell with borg environment. To get out type 'exit' or press ^D"
  bash --norc
  exit
fi

# Prehooks
{{ conf.prehooks | default('') }}

# Backup
borg create --verbose --filter AME --list --stats --show-rc --compression lz4 --exclude-caches \
{% if conf.exclude %}
  {% for exclude in conf.exclude %}
  --exclude '{{ exclude }}' \
  {% endfor %}
{% endif %}
  ::'{hostname}-{{ name }}-{utcnow:%Y-%m-%dT%H:%M:%S}' \
  '{{ conf.include | join("' '") }}'

# Prune
{% if conf.keep -%}
borg prune --verbose --list --stats  --show-rc \
  {% for keep, value in conf.keep.items() %}
  --keep-{{ keep }} {{ value }} \
  {% endfor %}
  --prefix '{hostname}-{{ name }}'
{% endif %}

# Posthooks
{{ conf.posthooks | default('') }}
